@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Landing */
nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

p {
  line-height: 1.5;
}

a {
  display: inline;
  text-decoration: none;
}

a:hover {
  text-align: underline;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__links {
  position: absolute;
  right: 0;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  margin: 0 24px;
}

button {
  cursor: pointer;
}